$blue-color: #38A2F6;
$green-color: #5CCE88;

body {
  font-family: 'Farro', sans-serif;

}
.navigation-top {
  background: url("images/navigation-image.jpg");
  height: 500px;
  background-size: cover;
  padding: 20px 20px 30px 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 32px;
    color: $blue-color;
  }

  .span-logo2 {
    color: $green-color;
  }
}

.avatar-btn {

  .logo-avatar {
    width: 60px;
  }
}
.navigation-btn {

  .logo-navigation {
    width: 60px;
  }
}
.header-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 160px;

  .bar-btn-map, .bar-btn-book {
    padding: 20px 20px 20px 20px;
    background: $blue-color;
    border-radius: 10px;
  }

  .map-btn, .booking-btn {
    text-decoration: none;
  }

}
