body {
  font-family: "Farro", sans-serif;
}

.navigation-top {
  background: url("images/title-image.jpeg");
  height: 500px;
  background-size: cover;
  padding: 20px 20px 30px 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .logo {
  font-size: 32px;
  color: #38A2F6;
}
.navigation .span-logo2 {
  color: #5CCE88;
}

.avatar-navigation .fa-user-circle, .avatar-navigation .fa-bars {
  padding: 8px;
  font-size: 50px;
  color: white;
}

.btn {
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  background: #38A2F6;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
  cursor: pointer;
}
.btn:hover {
  background: rgba(56, 162, 246, 0.7);
}

.map-btn-img, .checkmark-btn-img {
  display: none;
}

.header-buttons {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.navigation-panel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 0 400px 0 400px;
}
.navigation-panel .panel-element {
  padding: 33px 0;
  font-weight: 600;
  color: #2d3a58;
  border-bottom: 2px solid #38A2F6;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.blocks {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 40px;
  margin: 0 300px 0 300px;
}
.blocks .block1, .blocks .block2 {
  color: #2d3a58;
  width: 100%;
}
.blocks .block-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 30px;
}
.blocks .week {
  width: 100%;
}
.blocks .week .table-row {
  font-size: 15px;
  line-height: 24px;
}
.blocks .week .table-row .day, .blocks .week .table-row .time {
  text-transform: uppercase;
  padding-bottom: 14px;
  font-size: 14px;
  vertical-align: top;
  letter-spacing: 1px;
}
.blocks .week .table-row .day {
  font-weight: 900;
}

.allReviews-section {
  text-align: center;
  padding: 30px;
}
.allReviews-section .review-btn {
  font-weight: 600;
  font-size: 18px;
  padding: 15px 25px 15px 25px;
}

.gallery .gallery-title {
  color: #2d3a58;
  text-align: center;
  font-size: 24px;
  max-width: 1200px;
  margin: 50px auto 30px;
}
.gallery .gallery-images {
  text-align: center;
}
.gallery .gallery-images .image {
  float: left;
  height: 208px;
  width: 208px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.gallery .gallery-images .image1 {
  background-image: url("images/Gallery/1.jpg");
}
.gallery .gallery-images .image2 {
  background-image: url("images/Gallery/2.jpeg");
}
.gallery .gallery-images .image3 {
  background-image: url("images/Gallery/3.jpeg");
}
.gallery .gallery-images .image4 {
  background-image: url("images/Gallery/4.png");
}
.gallery .gallery-images .image5 {
  background-image: url("images/Gallery/5.jpeg");
}
.gallery .gallery-images .image6 {
  background-image: url("images/Gallery/6.jpeg");
}
.gallery .gallery-images .image7 {
  background-image: url("images/Gallery/7.jpeg");
}
.gallery .gallery-images .image8 {
  background-image: url("images/Gallery/8.jpeg");
}
.gallery .gallery-images .image9 {
  background-image: url("images/Gallery/9.png");
}
.gallery .gallery-images .image10 {
  background-image: url("images/Gallery/10.png");
}
.gallery .gallery-images .image11 {
  background-image: url("images/Gallery/11.jpeg");
}
.gallery .gallery-images .image12 {
  background-image: url("images/Gallery/12.jpeg");
}
.gallery .gallery-images .image13 {
  background-image: url("images/Gallery/13.jpeg");
}
.gallery .gallery-images .image14 {
  background-image: url("images/Gallery/14.jpeg");
}
.gallery .gallery-images .image15 {
  background-image: url("images/Gallery/15.jpeg");
}
.gallery .gallery-images .image16 {
  background-image: url("images/title-image.jpeg");
}
.gallery .gallery-images .image17 {
  background-image: url("images/Gallery/16.jpeg");
}
.gallery .gallery-images .image18 {
  background-image: url("images/Gallery/17.jpeg");
}
.gallery .gallery-images .image19 {
  background-image: url("images/Gallery/18.jpeg");
}
.gallery .gallery-images .image20 {
  background-image: url("images/Gallery/19.jpeg");
}
.gallery .gallery-images .image21 {
  background-image: url("images/Gallery/20.jpeg");
}
.gallery .gallery-images .image22 {
  background-image: url("images/Gallery/21.jpeg");
}
.gallery .gallery-images .image23 {
  background-image: url("images/Gallery/22.png");
}
.gallery .gallery-images .image24 {
  background-image: url("images/Gallery/23.jpeg");
}
.gallery .gallery-images .image25 {
  background-image: url("images/Gallery/24.jpeg");
}
.gallery .gallery-images .image26 {
  background-image: url("images/Gallery/25.jpeg");
}
.gallery .gallery-images .image27 {
  background-image: url("images/Gallery/26.jpg");
}
.gallery .gallery-images .image28 {
  background-image: url("images/Gallery/27.jpeg");
}
.gallery .gallery-images .image28 {
  background-image: url("images/Gallery/28.jpeg");
}

.options {
  color: #2d3a58;
}
.options .all-options {
  display: flex;
}
.options .options-title {
  text-align: center;
  font-size: 24px;
  max-width: 1200px;
  margin: 50px auto 30px;
}

.option1, .option2, .option3, .option4 {
  width: 20%;
  border: 1px solid rgba(45, 58, 88, 0.1);
  margin: 30px;
}
.option1 .option-image, .option2 .option-image, .option3 .option-image, .option4 .option-image {
  width: 100%;
}
.option1 .text-block, .option2 .text-block, .option3 .text-block, .option4 .text-block {
  padding-left: 20px;
  margin-bottom: 20px;
}
.option1 .option-title, .option2 .option-title, .option3 .option-title, .option4 .option-title {
  height: 46px;
  line-height: 23px;
}
.option1 .option-description, .option2 .option-description, .option3 .option-description, .option4 .option-description {
  height: 68px;
  line-height: 23px;
}
.option1 .date-bar, .option2 .date-bar, .option3 .date-bar, .option4 .date-bar {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.option1 .date-bar .date-item1, .option2 .date-bar .date-item1, .option3 .date-bar .date-item1, .option4 .date-bar .date-item1 {
  padding-bottom: 10px;
}
.option1 .date-bar .fas, .option2 .date-bar .fas, .option3 .date-bar .fas, .option4 .date-bar .fas {
  padding-right: 15px;
}
.option1 .option-date, .option2 .option-date, .option3 .option-date, .option4 .option-date {
  margin-right: 20px;
  margin-bottom: 30px;
  text-align: right;
  cursor: pointer;
  transition: 0.4s;
}
.option1 .option-date:hover, .option2 .option-date:hover, .option3 .option-date:hover, .option4 .option-date:hover {
  opacity: 0.7;
}
.option1 .option-date .option-link, .option2 .option-date .option-link, .option3 .option-date .option-link, .option4 .option-date .option-link {
  text-decoration: none;
  color: #38A2F6;
}
.option1 .option-date .option-link:hover, .option2 .option-date .option-link:hover, .option3 .option-date .option-link:hover, .option4 .option-date .option-link:hover {
  text-decoration: underline;
}
.option1 .option-price, .option2 .option-price, .option3 .option-price, .option4 .option-price {
  text-align: right;
  color: #38A2F6;
  margin-right: 20px;
}
.option1 .options-button, .option2 .options-button, .option3 .options-button, .option4 .options-button {
  text-align: right;
  margin: 30px 0 40px 0;
}
.option1 .options-button .option-btn, .option2 .options-button .option-btn, .option3 .options-button .option-btn, .option4 .options-button .option-btn {
  padding: 15px 25px 15px 25px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0;
}

.allOptionArea {
  margin: 50px 0 50px 0;
  text-align: center;
}
.allOptionArea .all-options-btn {
  font-size: 16px;
  padding: 15px 15px 15px 15px;
  background: none;
  color: #38A2F6;
  border: 1px solid #38A2F6;
  transition: 0.4s;
}
.allOptionArea .all-options-btn:hover {
  opacity: 0.7;
}

.map-area .map-title {
  text-align: center;
  color: #2d3a58;
  font-size: 24px;
  max-width: 1200px;
  margin: 50px auto 30px;
}
.map-area .map iframe {
  width: 100%;
  height: 600px;
  margin: 0px 20px 50px 20px;
}

footer .footer-navigation {
  display: flex;
  justify-content: center;
}
footer .footer-navigation p {
  margin: 8px;
}
footer .footer-navigation p a {
  color: #38A2F6;
  font-size: 12px;
  text-decoration: none;
}
footer .footer-navigation p a:hover {
  text-decoration: underline;
}
footer .account-information {
  display: flex;
  justify-content: center;
}
footer .account-information p a {
  color: #38A2F6;
  font-size: 12px;
  text-decoration: none;
}
footer .account-information p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
