$blue-color: #38A2F6;
$green-color: #5CCE88;
$white-color: white;
$text-color: #2d3a58;

body {
  font-family: 'Farro', sans-serif;

}
.navigation-top {
  background: url("images/navigation-image.jpg");
  height: 500px;
  background-size: cover;
  padding: 20px 20px 30px 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 32px;
    color: $blue-color;
  }

  .span-logo2 {
    color: $green-color;
  }
}

.avatar-navigation {
  .fa-user-circle, .fa-bars {
    padding: 8px;
    font-size: 50px;
    color: $white-color;
    }
}

.header-buttons {
  display: flex;
  justify-content: center;
  margin-top: 160px;

  .map-btn, .booking-btn {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $white-color;
    background: $blue-color;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: .4s;

    &:hover {
      background: rgba($blue-color, 0.7);
    }

  }
  .map-btn-img, .checkmark-btn-img {
    display: none;

  }
}
.navigation-panel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 0 400px 0 400px;

  .panel-element {
    padding: 33px 0;
    font-weight: 600;
    color: $text-color;
    border-bottom: 2px solid $blue-color;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0;
  }
}
.blocks {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  padding-top: 55px;
  padding-bottom: 40px;
  margin: 0 300px 0 300px;

  .block1, .block2 {
    color: $text-color;
    width: 100%;
  }

  .block-title{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 30px;
  }
  .week {
    width: 100%;

    .table-row {
      font-size: 15px;
      line-height: 24px;

      .day, .time {
        text-transform: uppercase;
        padding-bottom: 14px;
        font-size: 14px;
        vertical-align: top;
        letter-spacing: 1px;
      }
      .day {
        font-weight: 900;
      }
    }
  }

}