$blue-color: #38A2F6;
$green-color: #5CCE88;
$white-color: white;
$text-color: #2d3a58;

body {
  font-family: 'Farro', sans-serif;

}
.navigation-top {
  background: url("images/title-image.jpeg");
  height: 500px;
  background-size: cover;
  padding: 20px 20px 30px 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 32px;
    color: $blue-color;
  }

  .span-logo2 {
    color: $green-color;
  }
}

.avatar-navigation {
  .fa-user-circle, .fa-bars {
    padding: 8px;
    font-size: 50px;
    color: $white-color;
    }
}

.btn {
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: $white-color;
  background: $blue-color;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  transition: .4s;
  cursor: pointer;

  &:hover {
    background: rgba($blue-color, 0.7);
  }

}
.map-btn-img, .checkmark-btn-img {
  display: none;
}

.header-buttons {
  display: flex;
  justify-content: center;
  margin-top: 160px;


}
.navigation-panel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 0 400px 0 400px;

  .panel-element {
    padding: 33px 0;
    font-weight: 600;
    color: $text-color;
    border-bottom: 2px solid $blue-color;
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0;
    cursor: pointer;

  }
}
.blocks {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  padding-bottom: 40px;
  margin: 0 300px 0 300px;

  .block1, .block2 {
    color: $text-color;
    width: 100%;
  }

  .block-title{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 30px;
  }
  .week {
    width: 100%;

    .table-row {
      font-size: 15px;
      line-height: 24px;

      .day, .time {
        text-transform: uppercase;
        padding-bottom: 14px;
        font-size: 14px;
        vertical-align: top;
        letter-spacing: 1px;
      }
      .day {
        font-weight: 900;
      }
    }
  }

}
.allReviews-section {
  text-align: center;
  padding: 30px;

  .review-btn {
    font-weight: 600;
    font-size: 18px;
    padding: 15px 25px 15px 25px;
  }
}

.gallery {
  .gallery-title {
    color: $text-color;
    text-align: center;
    font-size: 24px;
    max-width: 1200px;
    margin: 50px auto 30px;
  }
  .gallery-images {
    text-align: center;

    .image {
      float: left;
      height: 208px;
      width: 208px;
      margin: 10px;
      background-size: cover;
      background-position: center;
      cursor: pointer;

    }
    .image1 {background-image: url("images/Gallery/1.jpg")}
    .image2 {background-image: url("images/Gallery/2.jpeg")}
    .image3 {background-image: url("images/Gallery/3.jpeg")}
    .image4 {background-image: url("images/Gallery/4.png")}
    .image5 {background-image: url("images/Gallery/5.jpeg")}
    .image6 {background-image: url("images/Gallery/6.jpeg")}
    .image7 {background-image: url("images/Gallery/7.jpeg")}
    .image8 {background-image: url("images/Gallery/8.jpeg")}
    .image9 {background-image: url("images/Gallery/9.png")}
    .image10 {background-image: url("images/Gallery/10.png")}
    .image11 {background-image: url("images/Gallery/11.jpeg")}
    .image12 {background-image: url("images/Gallery/12.jpeg")}
    .image13 {background-image: url("images/Gallery/13.jpeg")}
    .image14 {background-image: url("images/Gallery/14.jpeg")}
    .image15 {background-image: url("images/Gallery/15.jpeg")}
    .image16 {background-image: url("images/title-image.jpeg")}
    .image17 {background-image: url("images/Gallery/16.jpeg")}
    .image18 {background-image: url("images/Gallery/17.jpeg")}
    .image19 {background-image: url("images/Gallery/18.jpeg")}
    .image20 {background-image: url("images/Gallery/19.jpeg")}
    .image21 {background-image: url("images/Gallery/20.jpeg")}
    .image22 {background-image: url("images/Gallery/21.jpeg")}
    .image23 {background-image: url("images/Gallery/22.png")}
    .image24 {background-image: url("images/Gallery/23.jpeg")}
    .image25 {background-image: url("images/Gallery/24.jpeg")}
    .image26 {background-image: url("images/Gallery/25.jpeg")}
    .image27 {background-image: url("images/Gallery/26.jpg")}
    .image28 {background-image: url("images/Gallery/27.jpeg")}
    .image28 {background-image: url("images/Gallery/28.jpeg")}
  }
}

.options {
  color: $text-color;

  .all-options {
    display: flex;
  }

  .options-title {
    text-align: center;
    font-size: 24px;
    max-width: 1200px;
    margin: 50px auto 30px;
  }
}

.option1, .option2, .option3, .option4 {
  width: 20%;
  border: 1px solid rgba($text-color, 0.1);
  margin: 30px;

  .option-image {
    width: 100%;
  }
  .text-block {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .option-title {
    height: 46px;
    line-height: 23px;
  }
  .option-description {
    height: 68px;
    line-height: 23px;

  }
  .date-bar {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .date-item1 {
      padding-bottom: 10px;
    }

    .fas {
      padding-right: 15px;
    }
  }

  .option-date {
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: right;
    cursor: pointer;
    transition: .4s;
    &:hover {
      opacity: 0.7;
    }

    .option-link {
      text-decoration: none;
      color: $blue-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .option-price {
    text-align: right;
    color: $blue-color;
    margin-right: 20px;

  }
  .options-button {
    text-align: right;
    margin: 30px 0 40px 0;

    .option-btn {
      padding: 15px 25px 15px 25px;
      font-size: 16px;
      font-weight: 100;
      letter-spacing: 0;
    }

  }
}

.allOptionArea {
  margin: 50px 0 50px 0;
  text-align: center;

  .all-options-btn {
    font-size: 16px;
    padding: 15px 15px 15px 15px;
    background: none;
    color: $blue-color;
    border: 1px solid $blue-color;
    transition: .4s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.map-area {
  .map-title {
    text-align: center;
    color: $text-color;
    font-size: 24px;
    max-width: 1200px;
    margin: 50px auto 30px;
  }
  .map {
    iframe {
      width: 100%;
      height: 600px;
      margin: 0px 20px 50px 20px;
    }
  }
}
footer {
  .footer-navigation {
    display: flex;
    justify-content: center;

    p {
      margin: 8px;
      a {
        color: $blue-color;
        font-size: 12px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .account-information {
    display: flex;
    justify-content: center;
    p {
      a {
        color: $blue-color;
        font-size: 12px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}